In [3]:
import numpy as np
import pandas as pd
import operator 
from collections import Counter

In [26]:
class KNearestNeighbors:
    def __init__(self,k):
        self.k = k

    def fit(self,X_train,y_train):
        self.X_train = X_train
        self.y_train = y_train
        print("Training Done")

    def predict(self,X_test):

        distance = {}
        counter = 1

        for i in self.X_train:
            distance[counter] = np.sqrt((X_test[0][0] - i[0])**2 + (X_test[0][1] - i[1])**2)
            counter = counter + 1
        distance = sorted(distance.items(), key=operator.itemgetter(1))

        self.classify(distance[:self.k])

    def classify(self,distance):
        label = []

        for i in distance:
            label.append(self.y_train[i[0]])

        return Counter(label).most_common()[0][0]

In [27]:
ds = pd.read_csv('Social_Network_Ads.csv')

In [28]:
ds.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [29]:
X = ds.iloc[:,2:4].values
y = ds.iloc[:,-1].values

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [43]:
y_test.shape

(80,)

In [31]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [32]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [33]:
knn = KNearestNeighbors(5)

In [34]:
knn.fit(X_train,y_train)

Training Done

In [46]:
y_pred = knn.predict(X_test)

In [47]:
def predict_new():
    age = int(input("Enter the age: "))
    salary = int(input("Enter the salary: "))
    X_new = np.array([[age], [salary]]).reshape(1,2)

    X_new = scaler.transform(X_new)

    result = knn.predict(X_new)

    if result == 0:
        print("Will not purchase")
    else:
        print("Will purchase")

predict_new()

Enter the age:  34
Enter the salary:  23456

Will purchase